<div class="form-row">
	<div class="form-item">
		<label>Keywords</label>
		<input type="text" name="keywords" value="<%= code.keywords %>" />
	</div>
	<div class="form-item">
		<div class="form-item">
			<label>Link</label>
			<input type="text" name="link" value="<%= code.link %>" />
		</div>
		<!-- <label>Language</label>
		<select name="language">
			<option label="js" value="js"></option>
			<option label="css" value="css"></option>
			<option label="html" value="html"></option>
		</select> -->
	</div>
</div>
<!-- <div class="form-row">
	<div class="form-item">
		<label>Link</label>
		<input type="text" name="link" value="<%= code.link %>" />
	</div>
</div> -->
<div class="form-row">
	<div class="form-item">
		<label>Description</label>
		<input type="text" name="description" value="<%= code.description %>" />
	</div>
</div>
<div class="form-row">
	<div class="form-item">
		<label>Snippet</label>
		<textarea name="snippet"><%= code.snippet %></textarea>
	</div>
</div>
